* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@600&display=swap");

.body {
  background-color: #404040;
  width: 100%;
  height: 155%;
  position: absolute;
  margin-bottom: 20%;
}

.container {
  background-color: #ffffff;
  width: 65%;
  margin: auto auto;
  margin-top: 4%;
  padding: 2%;
  margin-bottom: 20%;
}
.navbar {
  display: flex;
  gap: 15%;
  margin-left: 4%;
  top: 90px;
  border: 1px solid #155eef;
  border-radius: 4px;
  margin: auto auto;
}
#img-text {
  display: flex;
  margin: 1%;
}
#img-text img {
  width: 10%;
}
#img-text p {
  color: #155eef;
  font-family: Manrope;
  font-weight: 700;
  margin-left: 1%;
  margin-top: 1%;
  font-size: 24px;
}
.hamburger {
  display: none;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 3;
}

.line {
  width: 30px;
  margin-bottom: 5px;
  height: 3px;
  background-color: green;
}

#navis {
  display: flex;
  justify-content: space-between;
  gap: 9%;
  width: 30%;
  padding-top: 20px;
}

#navis p:hover {
  color: #2e3a53;
  background-color: #ffffff;
  border: 1.5px solid #155eef;
  border-radius: 4px;
  width: 50%;
  padding-top: 3.5%;
  text-align: center;
  margin-top: 1px;
  font-family: "Halant", serif;
  cursor: pointer;
}

.welcomepage {
  width: 100%;
  display: flex;
  margin-top: 2%;
  border: 1px solid #155eef;
  border-radius: 4px;
}

#text-welcome {
  padding: 9% 2%;
}
#text-welcome p {
  width: 75%;
  text-align: left;
  margin-top: 4%;
}
#text-welcome span {
  color: #155eef;
  margin-top: 1%;
  width: 10%;
  font-size: 40px;
  position: relative;
  font-family: "Halant", serif;
  text-align: left;
  margin-bottom: 2%;
}

#img-welcome img {
  width: 130%;
  padding: 14% 0%;
  margin-left: -40%;
}

button {
  margin-top: 15%;
  background-color: #155eef;
  margin-top: 4%;
  font-family: "Manrope", serif;
  font-weight: 800;
  padding: 1% 1%;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #155eef;
}

.aboutpage {
  display: flex;
  border-radius: 2px;
  border: 1px solid #155eef;
  margin-top: 2%;
  padding: 4% 2%;
}
#img-about img {
  width: 200%;
}
#text-about h2 {
  margin-left: 40%;
  width: 49%;
  text-align: left;
  margin-top: 4%;
  margin-bottom: 3%;
}
#text-about p {
  margin-left: 40%;
  width: 59%;
  text-align: justify;
  font-family: "Manrope", serif;
}

.footer {
  display: flex;
  width: 100%;
  gap: 9%;
  border-radius: 2px;
  border: 1px solid #155eef;
  margin-top: 2%;
}

.footer #img-text p {
  font-size: small;
  margin-top: 3%;
}
#media-logo {
  padding-top: 10px;
  margin-left: -11%;
}
#footer-text h3 {
  padding-top: 10px;
  font-weight: normal;
  font-size: 15px;
  margin-left: 30%;
  width: 140%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1083px) {
  .navbar {
    display: flex;
    gap: 4%;
    margin-left: 4%;
    top: 90px;
    border: 1px solid #155eef;
    border-radius: 4px;
    margin: auto auto;
  }
  #img-text {
    display: flex;
    margin: 1%;
  }
  #img-text img {
    width: 20%;
  }
  #img-text p {
    color: #155eef;
    font-family: Manrope;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 6%;
    font-size: 24px;
  }

  .footer {
    gap: 4%;
  }
  .footer #img-text p {
    font-size: small;
    margin-top: 8%;
    margin-left: -10px;
  }
  #media-logo {
    padding-top: 22px;
    margin-left: -16%;
  }
  #footer-text h3 {
    padding-top: 22px;
    font-weight: normal;
    font-size: 15px;
    margin-left: 39%;
    width: 140%;
  }
}

@media screen and (max-width: 963px) {
  .hamburger {
    display: block;
    margin: 5% 9%;
  }
  #navis {
    display: none;
    justify-content: space-between;
    gap: 9%;
    width: 30%;
    padding-top: 20px;
  }
  .welcomepage {
    flex-direction: column;
  }
  #text-welcome h3 {
    margin-top: 2%;
    text-align: center;
    font-size: 40px;
  }
  #text-welcome span {
    margin-top: 2%;
    font-size: larger;
    margin-bottom: 7%;
    margin-left: 37px;
    word-wrap: wrap;
    width: 30px;
  }
  #text-welcome p {
    margin-top: 17%;
    font-size: 28px;
    text-align: center;
    margin-left: 1%;
    width: 100%;
  }
  #img-welcome img {
    margin-left: 13%;
    width: 70%;
  }
  button {
    margin-left: 0.5%;
    margin-top: 7%;
    padding: 3% 0%;
    font-size: 120%;
    width: 99%;
  }
  .aboutpage {
    flex-direction: column-reverse;
    padding: 1% -1.8%;
  }

  #text-about {
    margin-top: -2%;
  }
  #img-about {
    width: 48%;
    margin-left: 1%;
    margin-top: 3%;
  }
  #text-about h2 {
    font-size: 30px;
    margin: auto auto;
  }
  #text-about p {
    text-align: justify;
    margin-left: 1%;
    width: 97%;
    line-height: 172%;
  }

  .footer {
    flex-wrap: wrap;
    width: 100%;

    border-radius: 2px;
    border: 1px solid #155eef;
    margin-top: 2%;
    padding: 0% 4%;
  }
  .footer #img-text p {
    font-size: small;
    margin-top: 8%;
    margin-left: 10px;
  }
  #media-logo {
    padding-top: 20px;
    padding-top: 22px;
    margin-left: 6%;
  }
  #footer-text h3 {
    padding-top: 20px;
    font-weight: normal;
    margin-left: 120px;

    width: 500%;
  }
}

@media screen and (max-width: 735px) and (min-width: 250px) {
  .footer {
    flex-direction: column;
    width: 100%;
    margin: auto auto;
    border-radius: 2px;
    border: 1px solid #155eef;
    margin-top: 2%;
    padding: 0% 28%;
  }

  #footer-text h3 {
    margin-left: -20px;
  }
}
